Repository Opentek-Org/bookquotes, pull requests merged in 2021-10, with the labels that each got.

#22 added famous quote by J.R.R. Tolkein
  data/data.json
Labels: hacktoberfest

#24 Added a line from autogiography of a yogi
  data/data.json
Labels: hacktoberfest, hacktoberfest-accepted

#17 Added quotes
  data/data.json
Labels: hacktoberfest, hacktoberfest-accepted

#25 Add Lines from some books.
  data/data.json
Labels: hacktoberfest, hacktoberfest-accepted

#21 add a book quote from Pride and Prejudice
  data/data.json
Labels: hacktoberfest, hacktoberfest-accepted

#11 Add tests and GitHub Actions
  .github/workflows/tests.yml
  .gitignore
  __tests__/getLines.test.js
  __tests__/getRandomLine.test.js
  __tests__/index.spec.js
  index.js
  package-lock.json
  package.json
  test.js
Labels: hacktoberfest, hacktoberfest-accepted

#9 add a quote from A Game of Thrones
  data/data.json
Labels: hacktoberfest

#19 add a book-quote from The fault in our stars
  data/data.json
Labels: hacktoberfest

#27 Update data.json
  data/data.json
Labels: hacktoberfest, hacktoberfest-accepted

#38 Inspire quotes functionality and test added - #3
  README.md
  __tests__/getLinesType.test.js
  __tests__/getRandomLineType.test.js
  __tests__/index.spec.js
  data/inspire.json
  index.js
Labels: hacktoberfest

#40 Updated with new book quote.
  data/data.json
Labels: hacktoberfest

#34 Add new quote
  data/data.json
Labels: hacktoberfest

#14 Added quote from Garth Nix Abhorsen Hacktober 2021
  data/data.json
Labels: hacktoberfest

#28 Add a quote from The Hate U Give
  data/data.json
Labels: hacktoberfest, hacktoberfest-accepted

#23 Added new quote
  data/data.json
Labels: hacktoberfest

#30 Added quotes from 2 books
  data/data.json
Labels: hacktoberfest, hacktoberfest-accepted

#47 Auto label PR with Hacktoberfest
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: hacktoberfest, hacktoberfest-accepted

#51 Add auto labelerto v1.1.0
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: hacktoberfest, hacktoberfest-accepted

#53 Update inspire.json
  data/inspire.json
Labels: hacktoberfest, hacktoberfest-accepted

#96 Added Favourite Book Quotes with book and author names in both "data.json" and "inspire.json" files on V1.2.0
  data/data.json
  data/inspire.json
Labels: hacktoberfest, data
